* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 300px repeat(2, 1fr);
    grid-template-rows: 100px repeat(2, 200px) 100px;
    gap: 1rem;
}

.container .box {
    background-color: orangered;
    /* height: 150px; */
}

.container .box--1 {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.container .box--2 {
    grid-row: 2/4;
    grid-column: 1/2;
}

.container .box--7 {
    grid-column: 1/-1;
    grid-row: -2/-1;
}

/* Grid box */
/* 12 box => parent element */